#app {
  font-size: 20Px;
}

.header {
  display: flex;
  flex-direction: row;
}

.login {
  position: absolute;
  top: 0;
  right: 0;
  font-size: 20px;
  margin-top: 10px;
  margin-right: 10px;
}

div.landingPage {
  width:100%;
  height:100%;
}
div#popularMovies div.horizontalHeader{
  height:20%;
  width:50%;
}
div#popularTV div.horizontalHeader{
  border-left: 100px;
  height:20%;
  width:50%;
}
div#popularMovies {
  font-size:50px;
  height:450px;
  border-spacing: 20px;
  margin-bottom: 40px;
}

div#popularTV {
  font-size:50px;
  height:450px;
  margin-bottom: 20px;
}
div.horizontalScrollBar{
  display:grid;
  grid-template-columns: 5% auto 5%;
  height:80%;
  width:100%;
}

div.horizontalScrollBar #leftScrollIcon{
  grid-column:1;
  width:30%;
  height:75%;
  padding:10px;

}
div.horizontalScrollBar #rightScrollIcon{
  grid-column:3;
  width:30%;
  height:75%;
  padding:20px;
}
div#popularMovies div.movieDisplay{
  grid-column:2;
  width:100%;
  border:solid;
  height:100%;
  border-radius: 50px;
  display: flex;
  flex-direction: row;

}
div#popularTV div.movieDisplay{
  grid-column:2;
  width:100%;
  border:solid;
  height:100%;
  border-radius: 50px;
  border-spacing: 20px;
  display: flex;
  flex-direction: row;
}

div.filmCard {
  position: relative;
  margin-left: 20px;
  margin-top: 12px;;
  border: solid;
  border-radius: 50px;
  font-size: 15px;
  height: 85%;
  width: 200px;
}

.cardImage {
  margin-top: 8px;
  margin-left:15px;
 height: 215px;
 width:170px;
 border-radius: 15%;
 object-fit: fill;
}

.filmRating {
 float:right;
 height: 30px;
 width: 30px;
 padding: 2px;
 border: solid;
 border-spacing: 10px;
 border-width: 1px;
 border-radius: 50%;
 line-height: 30px;
}

/* .filmTitle {
  position: absolute;
  margin-top: 12px;
  margin-left: 8px;
} */

/* .filmDate {
  position: absolute;
  margin-top: 50px;
  margin-left: 8px;
} */


/*button.previousMovies{
  grid-column:1;
  border-left:50px;
  font-size: xx-large;
  background-color: transparent;
  background-repeat: no-repeat;
  border: none;
  outline: none;
  width:10%;
  height:70%;
  border-radius: 5px;
  opacity: 0.5;
}*/
 /*button.nextMovies{
  grid-column:3;
  border-right: 0px;
  font-size: xx-large;
  background-color: transparent;
  background-repeat: no-repeat;
  border: none;
  outline: none;
  width:10%;
  height:70%;
  border-radius: 5px;
  opacity: 0.5;
}*/
