@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');

:root {
  --main-bg: #F4F1DE;
  --card-bg: #F4F1DE;
  --component-bg: #F2CC84;
  --border: #000000;
  --accent-bg: #353531;
  --accent-bg-high: #81B29A;
  --accent-text-high: #000000;
  --accent-bg-mid: #FFC857;
  --accent-text-mid: #353531;
  --accent-bg-low: #E7414C;
  --accent-text-low: #FFC857;
  --text: #000000;
  --h-text: #FFC857;
  --sub-text: #8D8E92;
  --button: #255F85;
  --drop-shadow: rgba(0, 0, 0, 0.25);
}

html, body, #app {
  font-family: 'Ubuntu', sans-serif;
  font-size: 20px;
  background: var(--card-bg);
  /* display: flex;
  justify-content: center; */
}

/* #searchSubmit {
  width:5%;
  border-radius:25px;
  height:30px;
}

.searchDiv {
  width:auto;
  height:auto;
  padding:1em;
} */

#Search_Bar {
  border: 1px solid grey;
  border-radius:25px;
  border-left:500px;
  width:50%;
  height: 30px;
  padding: 2px 40px 2px 30px;
  outline: 0;


}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
  font-weight: lighter;
  box-shadow: 0 5px 5px var(--drop-shadow);
  background-color:#343c44f8;
}

.header .branding {
  display: flex;
}

.header img {
  max-height: 55px;
  margin: auto 0px auto 30px;
  cursor: pointer;
}

.title {
  color:white;
  font-weight: lighter;
}

a {
  color: white;
  text-decoration: none;
  margin: 25px;
  margin-top: 30px;
}

/* MODAL */
.modal {
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  /* background-color:rgba(0, 0, 0, 0.5); */
  backdrop-filter: blur(15px);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1;
}

.modal-content {
  background-color: #F2CC84;
  border-radius: 35px;
  overflow: hidden;
  box-shadow: 0 5px 5px var(--drop-shadow);
}

.modal-header {
  padding: 40px 80px 30px;
  text-align: center;
  background-color: var(--accent-bg);
  color: var(--card-bg);
  position: relative;
}

.modal-footer {
  padding: 20px 0;
  text-align: center;
}

.modal-footer-button {
  font-family: 'Ubuntu', sans-serif;
  font-size: 20px;
  background-color: var(--component-bg);
  color: var(--accent-text-mid);
  padding: 20px 40px;
  border-radius: 7px;
  cursor: pointer;
  transition-duration: 300ms;
}

.modal-footer-button:hover {
  transform: scale(1.1);
  box-shadow: 0 5px 5px var(--drop-shadow);
}

.submit-button {
  padding-top: 20px;
}

.modal-title {
  margin: 0;
  font-size: 28px;
}

.modal-subtitle {
  margin: 0;
  font-weight: bold;
}

.close-modal-button {
  position: absolute;
  top: 15px;
  right: 25px;
  cursor: pointer;
  transition-duration: 300ms;
}

.close-modal-button path {
  stroke: var(--card-bg);
}

.close-modal-button:hover {
  transform: scale(1.1);
}

.modal-body {
  display: grid;
  padding: 10px 20px;
  grid-template-columns: 1fr 1fr;
  gap: 10px;
}

/* MODAL */


.profileLayer {
  padding-top: 25px;
  display: flex;
  justify-content: center;
  height: 100%;

}

.profile {
  border-radius: 25px;
  margin-bottom: 50px;
  padding: 0px;
  width: 75%;
  height: 90%;
  background-color: var(--component-bg);
  justify-content: center;
  box-shadow: 0 5px 5px var(--drop-shadow);
}

.profileUserInfo {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  position: relative;
  background: var(--accent-bg);
  border-radius: 25px 25px 0 0;
}

.profileDivider {
  /* border-top: 5px solid; */
}

.profileAvatar {
  border-radius: 50%;
  width: 150px;
  height: 150px;
  background: var(--card-bg);
  overflow: hidden;
  margin: 20px 0 50px;
  box-shadow: 0 5px 5px var(--drop-shadow);
}

.profileUsername {
  position: absolute;
  bottom: -7px;
  text-shadow: 0 -3px 3px var(--drop-shadow);
  color: var(--card-bg);
}

.profileBody {
  display: grid;
  grid-template-columns: 3fr 4fr;
  margin: 0 25px;
  column-gap: 20px;
  padding: 20px 0;
}

.profileBody h2 {
  margin: 15px 0;
  text-align: center;
}

.profileSubscriptions,
.profileActivity {
  padding: 5px 20px 20px;
  background-color: var(--card-bg);
  box-shadow: 0 3px 5px var(--drop-shadow);
  border-radius: 15px;
  height: fit-content;
}

.profileSubscriptionsList {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  justify-items: center;
  gap: 20px;
}

.profileWatchHistory {
  display: flex;
  padding: 5px 5px 3px 5px;
  align-items: center;
  background-color: var(--component-bg);
  border-radius: 15px;
  box-shadow: 0 3px 3px var(--drop-shadow);
  margin-bottom: 10px;
}

.profileWatchHistoryPoster {
  margin: 0px;
  width: 100px;
  border-radius: 15px;
  transition-duration: 300ms;
}

.profileWatchHistoryPoster:hover {
  transform: scale(1.75);
  box-shadow: 0 3px 3px var(--drop-shadow);
}

.profileWatchHistoryTitle {
  padding-left: 30px;
  font-size: 28px;
}

.profileWatchHistoryTitle:hover {
  cursor: pointer;
}

.providerLabel {
  font-size: 25px;
  margin-left: 20px;
  position: relative;
  top: -4px;
}

.profileEditSubsButton {
  text-align: center;
  margin: 20px 0 10px;
}

.editSubs {
  font-family: 'Ubuntu', sans-serif;
  font-size: 22px;
  background-color: var(--component-bg);
  border: 3px solid var(--accent-bg);
  border-radius: 7px;
  padding: 25px 50px;
  cursor: pointer;
  transition-duration: 300ms;
}

.editSubs:hover {
  transform: scale(1.05);
  box-shadow: 0 5px 5px var(--drop-shadow);
}

.subscribedProviders {
  display: flex;
  margin-bottom: 10px;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.userSubscribed {
  display: none;
}

.providerLogo {
  width: 85px;
  height: 85px;
  border-radius: 15px;
  box-shadow: 0 3px 5px var(--drop-shadow);
}

.settings {
  color: black;
  margin: 0px;
}

.login {
  display: flex;
  padding-right: 20px;
  cursor: pointer;
}

.login-button {
  background-color: #343c44f8;
  color: white;
  margin: 30px;
  font-size: 20px;
  border: none;
  cursor: pointer;
}

.avatar {
  position: absolute;
  top: 20px;
  right: 15px;
  height: 70px;
  width: 70px;
  border: solid;
  border-radius: 50%;
  padding: 2px;
}

.MuiButtonBase-root .MuiAvatar-root {
  background-color: var(--button);
  color: var(--card-bg);
  box-shadow: 0 3px 5px var(--drop-shadow);
}

.css-h1tngs-MuiPaper-root-MuiMenu-paper-MuiPaper-root-MuiPopover-paper {
  border-radius: 15px !important;
  background-color: var(--component-bg) !important;
  color: var(--accent-text-mid) !important;
}

.css-h1tngs-MuiPaper-root-MuiMenu-paper-MuiPaper-root-MuiPopover-paper ul {
  padding: 5px;
}

.css-h1tngs-MuiPaper-root-MuiMenu-paper-MuiPaper-root-MuiPopover-paper li {
  background-color: var(--card-bg);
  margin: 5px;
  padding: 5px 10px;
  border-radius: 15px;
  box-shadow: 0 2px 3px var(--drop-shadow);
}

.css-h1tngs-MuiPaper-root-MuiMenu-paper-MuiPaper-root-MuiPopover-paper:before {
  background-color: var(--component-bg) !important;
  right: 25px !important;
}

div.landingPage {
  width:100%;
  height:100%;
  /* text-align: center; */
}

.landingPage .horizontalHeader{
  margin-left: 10%;
  margin-bottom: 20px;
}

div.landingPage div#popularMovies ,
div.landingPage div#popularTV,
div.landingPage div#recommended,
div.landingPage div#watchList,
div.landingPage div#recentlyWatched{
  font-size:30px;
  border-spacing: 20px;
  margin-bottom: 40px;
}

div.error{
  color:red;

}

.landingPage .horizontalScrollBar{
  display: grid;
  grid-template-columns: 5% 85% 5%;
  justify-content: center;
  align-items: center;
}

.landingPage #leftScrollIcon:hover,
.landingPage #rightScrollIcon:hover {
  transition-duration: 300ms;
  width:30%;
  height:75%;
  cursor: pointer;
}

div.landingPage div.horizontalScrollBar #leftScrollIcon{
  grid-column:1;
  padding:10px;
}

div.landingPage div.horizontalScrollBar #rightScrollIcon{
  grid-column:3;
  padding:20px;
}

.landingPage #leftScrollIcon:hover,
.landingPage #rightScrollIcon:hover {
  transform: scale(1.1);
  filter: drop-shadow(0 5px 3px var(--drop-shadow));
}

.landingPage .movieDisplay {
  width:100%;
  border: none;
  height:100%;
  border-radius: 30px;
  display: flex;
  flex-direction: row;
  background-color: var(--component-bg);
  box-shadow: 0 5px 5px var(--drop-shadow) inset;
  overflow-x: hidden;
  scroll-behavior: smooth;
  border-right: 5px solid var(--accent-bg);
  border-left: 5px solid var(--accent-bg);
}

.landingPage .movieDisplay .filmCard:last-child {
  margin-right: 50px;
}

button.addToWatch {
  grid-column:4;
  margin-top:100px;
  align-items: center;
  font-size:large;
  background-color:rgb(248, 223, 131)
}

.landingPage .filmCard {
  position: relative;
  margin: 20px 15px;
  border-radius: 30px;
  font-size: 15px;
  height: 300px;
  width: 190px;
  font-weight:bold;
  background-color: var(--card-bg);
  box-shadow: 0 5px 5px var(--drop-shadow);
}

.landingPage .filmCard:hover {
  transform: scale(1.1);
  transition: .3s;
}

.landingPage .cardLink {
  text-decoration: none;
  color: black;
  margin: 0;
  position: relative;
}

.landingPage .cardImgWrapper {
  height: 215px;
  clip-path: inset(-20px 0px 20px 0px);
  border-radius: 30px 30px 0 0;
  overflow: hidden;
}

.landingPage .cardImage {
 width:190px;
 position: relative;
 top: -20px;
}

.landingPage .filmRating {
 height: 50px;
 width: 50px;
 color: black;
 border-radius: 50%;
 display: flex;
 align-items: center;
 justify-content: center;
 position: absolute;
 right: -205px;
 top: 165px;
 box-shadow: 0 3px 3px var(--drop-shadow);
}

.landingPage .filmTitle {
  margin: 0 5px 5px;
  text-align: center;
  font-size: 16px;
}

.landingPage .filmDate {
  margin: 0;
  text-align: center;
  font-size: 14px;
  font-style: italic;
  color: gray;
}


/*button.previousMovies{
  grid-column:1;
  border-left:50px;
  font-size: xx-large;
  background-color: transparent;
  background-repeat: no-repeat;
  border: none;
  outline: none;
  width:10%;
  height:70%;
  border-radius: 5px;
  opacity: 0.5;
}*/
 /*button.nextMovies{
  grid-column:3;
  border-right: 0px;
  font-size: xx-large;
  background-color: transparent;
  background-repeat: no-repeat;
  border: none;
  outline: none;
  width:10%;
  height:70%;
  border-radius: 5px;
  opacity: 0.5;
}*/
  /*font-size: 50px;
//}


/* Toggle Button */
.cm-toggle {
	-webkit-appearance: none;
	-webkit-tap-highlight-color: transparent;
	position: relative;
	border: 0;
	outline: 0;
	cursor: pointer;
	margin: 10px;
}

/* To create surface of toggle button */
.cm-toggle:after {
	content: '';
	width: 45px;
	height: 25px;
	display: inline-block;
	background: var(--card-bg);
	border-radius: 18px;
	clear: both;
  transition-duration: 50ms;
  box-shadow: 0 2px 3px var(--drop-shadow) inset;
}

/* Contents before checkbox to create toggle handle */
.cm-toggle:before {
	content: '';
	width: 25px;
	height: 25px;
	display: block;
	position: absolute;
	left: 0;
	border-radius: 50%;
	background: var(--accent-text-mid);
	box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.6);
  transition-duration: 50ms;
}

/* Shift the handle to left on check event */
.cm-toggle:checked:before {
	left: 25px;
  background-color: var(--button);
	box-shadow: -1px 1px 3px rgba(0, 0, 0, 0.6);
}
/* Background color when toggle button will be active */
.cm-toggle:checked:after {
	background-color: var(--accent-bg-high);
}