/* ==================== */
/* Media Info Component */
/* ==================== */

.mediaInfoPage {
  background-color: var(--component-bg);
  width: 80%;
  max-width: 800px;
  margin: 30px auto;
  padding: 25px;
  border: 1px solid black;
  border-radius: 20px;
}

.mediaHeader {
  border: 1px solid black;
  border-radius: 20px;
  box-shadow: 0 5px 10px var(--drop-shadow);
  display: flex;
  overflow: hidden;
}

.posterImage {
  background: var(--accent-bg);
  height: fit-content;
}

.mediaHeader img {
  min-width: 200px;
  max-width: 220px;
  height: auto;
  border-radius: 20px 0 0 20px;
}

.mediaDetails {
  padding: 10px 30px;
  position: relative;
  background-color: var(--card-bg);
  background-repeat: no-repeat;
  background-size: cover;
  background-blend-mode: overlay;
  background-position-y: -100px;
}

.mediaDetails h1 {
  margin: 0;
  font-size: 30px;
}

.mediaDetails h2 {
  margin: 0;
  font-size: 20px;
  font-weight: 400;
  color: var(--sub-text);
}

.mediaDetails p {
  font-size: 15px;
  max-height: 120px;
  overflow: scroll;
}

.ratingDot {
  background-color: var(--accent-bg-high);
  color: var(--accent-text-high);
  border-radius: 50%;
  position: absolute;
  padding: 16px;
  font-size: 16px;
  box-shadow: 0 5px 5px var(--drop-shadow);
  right: 10px;
  bottom: 10px;
}

/* ======================= */
/* Add to Watchlist Button */
/* ======================= */

.addToWatchlist {
  position: relative;
  width: fit-content;
  cursor: pointer;
}

.addToWatchlist p {
  background-color: var(--button);
  border: 3px solid var(--card-bg);
  box-shadow: 0 3px 5px var(--accent-bg);
  padding: 3px 20px 3px 35px;
  color: var(--card-bg);
  width: fit-content;
  border-radius: 20px;
  margin: 10px 10px 20px;
  font-size: 16px;
  transition-duration: 300ms;
}

.addToWatchlist.added p {
  background-color: var(--accent-bg-high);
}

.addToWatchlist span {
  background-color: var(--button);
  border: 3px solid var(--card-bg);
  border-radius: 50%;
  width: 50px;
  height: 50px;
  position: absolute;
  top: -15px;
  left: -15px;
  box-shadow: 0 3px 3px var(--accent-bg);
  transition-duration: 300ms;
}

.addToWatchlist.added span {
  background-color: var(--accent-bg-high);
}

.addToWatchlist span::before {
  content: '';
  width: 6px;
  height: 24px;
  background-color: var(--card-bg);
  position: absolute;
  left: calc(50% - 3px);
  top: 12.5px;
  transition-duration: 300ms;
}

.addToWatchlist span::after {
  content: '';
  width: 24px;
  height: 6px;
  background-color: var(--card-bg);
  position: absolute;
  left: 12.5px;
  top: calc(50% - 3px);
  transition-duration: 300ms;
}

.addToWatchlist.added span::before {
  left: calc(50%);
  transform: rotate(45deg);
}

.addToWatchlist.added span::after {
  top: calc(50%);
  width: 13px;
  transform: rotate(45deg);
}

/* ================== */
/* Services Component */
/* ================== */

.services {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.services h3 {
  background: var(--accent-bg);
  color: var(--h-text);
  width: 150px;
  min-width: 120px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  user-select: none;
  position: relative;
  transition-duration: 300ms;
  box-shadow: 0 3px 5px var(--drop-shadow);
}

.services h3:hover::before {
  content: '';
  position: absolute;
  width: 30px;
  height: 30px;
  background-image: url("data:image/svg+xml,%3Csvg width='30' height='30' viewBox='0 0 30 30' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Ccircle cx='15' cy='15' r='13.5' stroke='white' stroke-width='3'/%3E%3Cpath d='M11.2163 8.50458L22.3301 14.9211L11.2163 21.3377L11.2163 8.50458Z' fill='white'/%3E%3C/svg%3E%0A");
}

.services h3:hover::after {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(255,255,255,0.25);
}

/* ================= */
/* Reviews Component */
/* ================= */

.reviewHeader {
  display: flex;
  flex-direction: row;
  margin-bottom: 10px;
  padding: 10px;
  border-top: solid 3px;
}

.reviewTitle {
  margin-right: 200px;
}

.reviewContainer {
  background-color: rgba(255,241,114,61%);
  padding: 10px;
  border-radius: 20px;
  margin-bottom: 10px;
  width: 80%;
  height: 80px;
  margin-left: 70px;
  position:relative;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 12px;
}

.reviewUsername {
  top: 8px;
  left: 16px;
}

.reviewDate {
  position: absolute;
  top: 8px;
  right: 16px;
}

.reviewContent {
  margin: 20px 0px 5px 0px;
  text-align: center;
}

.reviewModal {
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  backdrop-filter: blur(15px);
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
  z-index: 10;
}

.reviewForm {
  border: solid 2px;
  background-color: #F4F1DE;
  padding: 5px;
}

.closeModal {
  float: right;
}
