/* ==================== */
/* Media Info Component */
/* ==================== */

.mediaInfoPage {
  background-color: var(--component-bg);
  width: 80%;
  max-width: 800px;
  margin: 30px auto;
  padding: 25px;
  border: 1px solid black;
  border-radius: 20px;
}

.mediaHeader {
  border: 1px solid black;
  border-radius: 20px;
  box-shadow: 0 5px 10px var(--drop-shadow);
  display: flex;
  overflow: hidden;
}

.posterImage {
  background: var(--accent-bg);
  height: fit-content;
}

.mediaHeader img {
  min-width: 200px;
  max-width: 220px;
  height: auto;
  border-radius: 20px 0 0 20px;
}

.mediaDetails {
  padding: 10px 30px;
  position: relative;
  background-color: var(--card-bg);
  background-repeat: no-repeat;
  background-size: cover;
  background-blend-mode: overlay;
  background-position-y: -100px;
}

.mediaDetails h1 {
  margin: 0;
  font-size: 30px;
}

.mediaDetails h2 {
  margin: 0;
  font-size: 20px;
  font-weight: 400;
  color: var(--sub-text);
}

.mediaDetails p {
  font-size: 15px;
  max-height: 120px;
  overflow: scroll;
}

.ratingDot {
  background-color: var(--accent-bg-high);
  color: var(--accent-text-high);
  border-radius: 50%;
  position: absolute;
  padding: 16px;
  font-size: 16px;
  box-shadow: 0 5px 5px var(--drop-shadow);
  right: 10px;
  bottom: 10px;
  width: 30px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* ======================= */
/* Add to Watchlist Button */
/* ======================= */

.addToWatchlist {
  position: relative;
  width: fit-content;
  cursor: pointer;
}

.addToWatchlist p {
  background-color: var(--button);
  border: 3px solid var(--card-bg);
  box-shadow: 0 3px 5px var(--accent-bg);
  padding: 3px 20px 3px 35px;
  color: var(--card-bg);
  width: fit-content;
  border-radius: 20px;
  margin: 10px 10px 20px;
  font-size: 16px;
  transition-duration: 300ms;
}

.addToWatchlist.added p {
  background-color: var(--accent-bg-high);
}

.addToWatchlist span {
  background-color: var(--button);
  border: 3px solid var(--card-bg);
  border-radius: 50%;
  width: 50px;
  height: 50px;
  position: absolute;
  top: -15px;
  left: -15px;
  box-shadow: 0 3px 3px var(--accent-bg);
  transition-duration: 300ms;
}

.addToWatchlist.added span {
  background-color: var(--accent-bg-high);
}

.addToWatchlist span::before {
  content: '';
  width: 6px;
  height: 24px;
  background-color: var(--card-bg);
  position: absolute;
  left: calc(50% - 3px);
  top: 12.5px;
  transition-duration: 300ms;
}

.addToWatchlist span::after {
  content: '';
  width: 24px;
  height: 6px;
  background-color: var(--card-bg);
  position: absolute;
  left: 12.5px;
  top: calc(50% - 3px);
  transition-duration: 300ms;
}

.addToWatchlist.added span::before {
  left: calc(50%);
  transform: rotate(45deg);
}

.addToWatchlist.added span::after {
  top: calc(50%);
  width: 13px;
  transform: rotate(45deg);
}

/* ================== */
/* Services Component */
/* ================== */

.services {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;
}

.services a {
  margin: 7px;
  order: 2;
}

.services h3 {
  background: var(--accent-bg);
  color: var(--h-text);
  width: 150px;
  min-width: 120px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  user-select: none;
  position: relative;
  transition-duration: 300ms;
  box-shadow: 0 3px 5px var(--drop-shadow);
  margin: 0;
  padding: 10px;
  text-align: center;
  border-radius: 7px;
  border: 3px solid var(--card-bg);
}

.services h3:hover {
  transform: scale(1.05);
}

.services h3:hover::before {
  content: '';
  position: absolute;
  width: 30px;
  height: 30px;
  background-image: url("data:image/svg+xml,%3Csvg width='30' height='30' viewBox='0 0 30 30' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Ccircle cx='15' cy='15' r='13.5' stroke='white' stroke-width='3'/%3E%3Cpath d='M11.2163 8.50458L22.3301 14.9211L11.2163 21.3377L11.2163 8.50458Z' fill='white'/%3E%3C/svg%3E%0A");
}

.services h3:hover::after {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(255,255,255,0.25);
}

.services .subscribed {
  order: 1;
}

.services .subscribed h3 {
  border: 3px solid var(--accent-bg-high);
}

.services h4 {
  margin: 5px;
  text-align: center;
  color: var(--accent-text-mid);
}

/* ================= */
/* Reviews Component */
/* ================= */

.infoTitle {
  font-size: 14px;
  font-weight: bolder;
  border-top: solid 3px;
  padding-top: 15px;
}

.reviewHeader {
  margin-top: 20px;
  text-align: center;
  font-size: 25px;
  font-weight: bolder;
}


.reviewLikesWrapper {
  display: flex;
  flex-direction: row;
 justify-content: center;
 font-size: 14px;
 font-weight: lighter;
}

.reviewLikes {
  display: flex;
  flex-direction: row;
  background-color: rgba(53,53,49,100%);
  color: #F4F1DE;
  padding-left: 15px;
  padding-right: 15px;
  border-radius: 10px;
  margin: 10px 0px 10px 0px;
}

.dislikes {
  margin-left: 10px;
  color: rgba(224,122,95,100%)
}

.reviewList {
  max-height: 380px;
  overflow-y: scroll;
}


.reviewContainer {
  background-color: rgba(244,241,222,100%);
  padding: 20px;
  border-radius: 20px;
  margin-bottom: 10px;
  width: 80%;
  height: 22%;
  margin-left: 70px;
  position:relative;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 12px;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}

.reviewDate {
  position: absolute;
  top: 20px;
  right: 20px;
}

.reviewUsername {
  display: flex;
  flex-direction: row;
}

.userInfo {
  display: flex;
  flex-direction: row;
  margin-top: 10px;
  margin-bottom: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.profilePic {
  margin: 10px 25px 0px 0px;
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

.reviewBubble {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  background: rgb(53, 53, 49,100%);
  color: rgb(233,233,174,100%);
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 15px;
  text-align: center;
  width: 80%;
  min-height: 70px;
  height: auto;
  border-radius: 10px;
  padding: 15px;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}

.reviewBubble:after {
  content: '';
  position: absolute;
  display: block;
  width: 0;
  z-index: 1;
  border-style: solid;
  border-color: transparent rgb(53, 53, 49,100%);
  border-width: 20px 20px 20px 0;
  top: 50%;
  left: -20px;
  margin-top: -20px;
}

.reviewModal {
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  backdrop-filter: blur(15px);
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
  z-index: 10;
}

.reviewForm {
  background-color: var(--component-bg);
  padding: 60px;
  border-radius: 25px;
  box-shadow: 0 5px 5px var(--drop-shadow);
  position: relative;
}

.closeModal {
  position: absolute;
  top: 25px;
  right: 25px;
  cursor: pointer;
  transition-duration: 300ms;
}

.closeModal:hover {
  transform: scale(1.05);
  filter: drop-shadow(0 3px 3px var(--drop-shadow));
}

.modalTitle {
  margin: 0px auto 20px;
}

.MuiButton-root {
  margin: 0 20px 20px !important;
  cursor: pointer;
  transition-duration: 300ms;
}

.MuiButton-root:hover {
  transform: scale(1.05);
  filter: drop-shadow(0 3px 3px var(--drop-shadow));
}

.reviewForm textarea {
  font-family: 'Ubuntu', sans-serif;
  border: none;
  background-color: var(--card-bg);
  padding: 20px 30px;
  border-radius: 15px;
  min-width: 260px;
}

.submitReviewBtn {
  font-family: 'Ubuntu', sans-serif;
  background-color: var(--button);
  border: none;
  padding: 20px 40px;
  margin-top: 40px;
  border-radius: 10px;
  color: var(--card-bg);
  font-size: 24px;
  box-shadow: 0 5px 5px var(--drop-shadow);
  cursor: pointer;
  transition-duration: 300ms;
}

.submitReviewBtn:hover {
  background-color: var(--accent-bg-high);
}

.reviewButton,
.addReviewButton {
  font-family: 'Ubuntu', sans-serif;
  margin: 10px 25%;
  width: 50%;
  background: var(--component-bg);
  padding: 20px;
  border: 3px solid var(--accent-text-mid);
  color: var(--accent-text-mid);
  font-size: 20px;
  border-radius: 5px;
  cursor: pointer;
  transition-duration: 300ms;
}

.reviewButton:hover,
.addReviewButton:hover {
  transform: scale(1.05);
  box-shadow: 0 5px 5px var(--drop-shadow);
}