.searchDiv form {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 20px;
}

.search-container {
  position: relative;
  width: 75%;
  text-align: center;
  background-color: var(--component-bg);
  border-radius: 50px;
  box-shadow: 0 3px 5px var(--drop-shadow);
}

.Search_Bar_Title {
  font-size: 28px;
}

#Search_Bar {
  width: calc(100% - 90px);
  padding: 10px 30px 7px;
  border: none;
  box-shadow: 0 3px 3px var(--drop-shadow) inset;
  margin: 15px;
  font-size: 18px;
}

#searchSubmit {
  background: none;
  border: none;
  position: absolute;
  right: 15px;
  top: 25px;
  cursor: pointer;
  filter: drop-shadow(0px 3px 2px var(--drop-shadow));
}

/* ==================================================== */
/* Search Bar => Search Page, User Settings, Media Info */
/* ==================================================== */

.search-page .searchDiv,
.info-page .searchDiv {
  padding: 0;
  margin-bottom: 20px;
}

.search-page .searchDiv form,
.info-page .searchDiv form {
  gap: 0;
}

.search-page .searchDiv label,
.info-page .searchDiv label {
  display: none;
}

.search-page .search-container,
.info-page .search-container {
  width: 100%;
  border-radius: 0;
}

.search-page #Search_Bar,
.info-page #Search_Bar {
  width: -webkit-fill-available;
  margin: 15px 5%;
}